


/* media query responsive */


@media screen and (min-width: 768px) {
    /* header */
    #intestazione h1{
        text-align: left;
        font-size: 45px;
        padding-left: 25px;
    }

    /* main */

    /* tiramiù responsive */
    .container h2 span{
        display: inline;
    }

    .dati ul{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .dati ul li{
        max-width: 100%;
    }


    #tiramiù .social{
        justify-content: space-around;
    }

    .social>div{
        max-width: 100%;
        padding: 10px 60px;
        border-radius: 20px;
    }

    #tiramisù .pubblicità{
        display: block;
    }

    /* presentation */



    #presentation .container div{
        width: 50%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #presentation .container p{
        line-height: 40px;
    }

    /* footer */
}






@media screen and (min-width: 992px) {
    /* header */
    #intestazione h1{
        font-size: 50px;
    }

    /* main */

    /* tiramisù responsive */

    .container-img{
        display: flex;
    }
    .container-img img{
        width: 100%; 
        
    }
    .container-img .dati{
        width: 40%;
    }
    .dati ul{
        display: block;
        padding-right: 50px;
    }

    .social>div{
        max-width: 100%;
        padding: 10px 40px;
        border-radius: 20px;
    }
    .social>div strong{
        display: inline;  
    }   

    /* presentation */

    /* footer */
    #conclusione{
        padding: 20px 20px 25px;
        font-size: 10px;
    }

    #conclusione .flex-container div p{
        text-align: left;
        line-height: 20px;
    }

    #conclusione .flex-container{
        display: flex;
        justify-content: space-between;
    }
}